/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.site-content {
	margin: 4.5rem 11rem 1.5rem;
	position: relative;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.home, .archive, .single{
	.entry-content p{
		font-size: 1.25rem;
		@include tablet {
			font-size: 1.75rem;
		}
	}
} 

.home, .archive, .single{ 
	.entry-title{
		display: inline;
		font-size: 1.25rem;
		font-weight: 400;
	}
}
.home, .archive, .single{
	.source{
		font-size: 1.25rem;
		font-style: italic;
	}
} 

.authors-archive ul, .categories-archive ul, .tags-archive ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li{
		font-size: 1rem;
		margin-bottom: .5rem;
		margin-right: 1.25rem;
		@include tablet {
			font-size: 1.25rem;
		}
	}
}